body {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
.norsig-brand {
	font-family: NorSig Logo;
	src:url("https://assets.norsig.com/NorSigLogo.woff") format("woff");
	font-size: 1.2em
	font-smooth: never;
}

