.flaticon-exclam:before {
	content: "\21";
}
.flaticon-quotedbl:before {
	content: "\22";
}
.flaticon-no1:before {
	content: "\24";
}
.flaticon-no3:before {
	content: "\26";
}
.flaticon-no9:before {
	content: "\2b";
}
.flaticon-glass:before {
	content: "\f000";
}
.flaticon-music:before {
	content: "\f001";
}
.flaticon-search:before {
	content: "\f002";
}
.flaticon-envelope:before {
	content: "\f003";
}
.flaticon-heart:before {
	content: "\f004";
}
.flaticon-star:before {
	content: "\f005";
}
.flaticon-star_empty:before {
	content: "\f006";
}
.flaticon-user:before {
	content: "\f007";
}
.flaticon-film:before {
	content: "\f008";
}
.flaticon-th_large:before {
	content: "\f009";
}
.flaticon-th:before {
	content: "\f00a";
}
.flaticon-th_list:before {
	content: "\f00b";
}
.flaticon-ok:before {
	content: "\f00c";
}
.flaticon-remove:before {
	content: "\f00d";
}
.flaticon-zoom_in:before {
	content: "\f00e";
}
.flaticon-zoom_out:before {
	content: "\f010";
}
.flaticon-off:before {
	content: "\f011";
}
.flaticon-signal:before {
	content: "\f012";
}
.flaticon-cog:before {
	content: "\f013";
}
.flaticon-trash:before {
	content: "\f014";
}
.flaticon-home:before {
	content: "\f015";
}
.flaticon-file_alt:before {
	content: "\f016";
}
.flaticon-time:before {
	content: "\f017";
}
.flaticon-road:before {
	content: "\f018";
}
.flaticon-download_alt:before {
	content: "\f019";
}
.flaticon-download:before {
	content: "\f01a";
}
.flaticon-upload:before {
	content: "\f01b";
}
.flaticon-inbox:before {
	content: "\f01c";
}
.flaticon-play_circle:before {
	content: "\f01d";
}
.flaticon-repeat:before {
	content: "\f01e";
}
.flaticon-refresh:before {
	content: "\f021";
}
.flaticon-list_alt:before {
	content: "\f022";
}
.flaticon-lock:before {
	content: "\f023";
}
.flaticon-flag:before {
	content: "\f024";
}
.flaticon-headphones:before {
	content: "\f025";
}
.flaticon-volume_off:before {
	content: "\f026";
}
.flaticon-volume_down:before {
	content: "\f027";
}
.flaticon-volume_up:before {
	content: "\f028";
}
.flaticon-qrcode:before {
	content: "\f029";
}
.flaticon-barcode:before {
	content: "\f02a";
}
.flaticon-tag:before {
	content: "\f02b";
}
.flaticon-tags:before {
	content: "\f02c";
}
.flaticon-book:before {
	content: "\f02d";
}
.flaticon-bookmark:before {
	content: "\f02e";
}
.flaticon-print:before {
	content: "\f02f";
}
.flaticon-camera:before {
	content: "\f030";
}
.flaticon-font:before {
	content: "\f031";
}
.flaticon-bold:before {
	content: "\f032";
}
.flaticon-italic:before {
	content: "\f033";
}
.flaticon-text_height:before {
	content: "\f034";
}
.flaticon-text_width:before {
	content: "\f035";
}
.flaticon-align_left:before {
	content: "\f036";
}
.flaticon-align_center:before {
	content: "\f037";
}
.flaticon-align_right:before {
	content: "\f038";
}
.flaticon-align_justify:before {
	content: "\f039";
}
.flaticon-list:before {
	content: "\f03a";
}
.flaticon-indent_left:before {
	content: "\f03b";
}
.flaticon-indent_right:before {
	content: "\f03c";
}
.flaticon-facetime_video:before {
	content: "\f03d";
}
.flaticon-picture:before {
	content: "\f03e";
}
.flaticon-pencil:before {
	content: "\f040";
}
.flaticon-map_marker:before {
	content: "\f041";
}
.flaticon-adjust:before {
	content: "\f042";
}
.flaticon-tint:before {
	content: "\f043";
}
.flaticon-edit:before {
	content: "\f044";
}
.flaticon-share:before {
	content: "\f045";
}
.flaticon-check:before {
	content: "\f046";
}
.flaticon-move:before {
	content: "\f047";
}
.flaticon-step_backward:before {
	content: "\f048";
}
.flaticon-fast_backward:before {
	content: "\f049";
}
.flaticon-backward:before {
	content: "\f04a";
}
.flaticon-play:before {
	content: "\f04b";
}
.flaticon-pause:before {
	content: "\f04c";
}
.flaticon-stop:before {
	content: "\f04d";
}
.flaticon-forward:before {
	content: "\f04e";
}
.flaticon-fast_forward:before {
	content: "\f050";
}
.flaticon-step_forward:before {
	content: "\f051";
}
.flaticon-eject:before {
	content: "\f052";
}
.flaticon-chevron_left:before {
	content: "\f053";
}
.flaticon-chevron_right:before {
	content: "\f054";
}
.flaticon-plus_sign:before {
	content: "\f055";
}
.flaticon-minus_sign:before {
	content: "\f056";
}
.flaticon-remove_sign:before {
	content: "\f057";
}
.flaticon-ok_sign:before {
	content: "\f058";
}
.flaticon-question_sign:before {
	content: "\f059";
}
.flaticon-info_sign:before {
	content: "\f05a";
}
.flaticon-screenshot:before {
	content: "\f05b";
}
.flaticon-remove_circle:before {
	content: "\f05c";
}
.flaticon-ok_circle:before {
	content: "\f05d";
}
.flaticon-ban_circle:before {
	content: "\f05e";
}
.flaticon-arrow_left:before {
	content: "\f060";
}
.flaticon-arrow_right:before {
	content: "\f061";
}
.flaticon-arrow_up:before {
	content: "\f062";
}
.flaticon-arrow_down:before {
	content: "\f063";
}
.flaticon-share_alt:before {
	content: "\f064";
}
.flaticon-resize_full:before {
	content: "\f065";
}
.flaticon-resize_small:before {
	content: "\f066";
}
.flaticon-plus:before {
	content: "\f067";
}
.flaticon-minus:before {
	content: "\f068";
}
.flaticon-asterisk:before {
	content: "\f069";
}
.flaticon-exclamation_sign:before {
	content: "\f06a";
}
.flaticon-gift:before {
	content: "\f06b";
}
.flaticon-leaf:before {
	content: "\f06c";
}
.flaticon-fire:before {
	content: "\f06d";
}
.flaticon-eye_open:before {
	content: "\f06e";
}
.flaticon-eye_close:before {
	content: "\f070";
}
.flaticon-warning_sign:before {
	content: "\f071";
}
.flaticon-plane:before {
	content: "\f072";
}
.flaticon-calendar:before {
	content: "\f073";
}
.flaticon-random:before {
	content: "\f074";
}
.flaticon-comment:before {
	content: "\f075";
}
.flaticon-magnet:before {
	content: "\f076";
}
.flaticon-chevron_up:before {
	content: "\f077";
}
.flaticon-chevron_down:before {
	content: "\f078";
}
.flaticon-retweet:before {
	content: "\f079";
}
.flaticon-shopping_cart:before {
	content: "\f07a";
}
.flaticon-folder_close:before {
	content: "\f07b";
}
.flaticon-folder_open:before {
	content: "\f07c";
}
.flaticon-resize_vertical:before {
	content: "\f07d";
}
.flaticon-resize_horizontal:before {
	content: "\f07e";
}
.flaticon-bar_chart:before {
	content: "\f080";
}
.flaticon-twitter_sign:before {
	content: "\f081";
}
.flaticon-facebook_sign:before {
	content: "\f082";
}
.flaticon-camera_retro:before {
	content: "\f083";
}
.flaticon-key:before {
	content: "\f084";
}
.flaticon-cogs:before {
	content: "\f085";
}
.flaticon-comments:before {
	content: "\f086";
}
.flaticon-thumbs_up_alt:before {
	content: "\f087";
}
.flaticon-thumbs_down_alt:before {
	content: "\f088";
}
.flaticon-star_half:before {
	content: "\f089";
}
.flaticon-heart_empty:before {
	content: "\f08a";
}
.flaticon-signout:before {
	content: "\f08b";
}
.flaticon-linkedin_sign:before {
	content: "\f08c";
}
.flaticon-pushpin:before {
	content: "\f08d";
}
.flaticon-external_link:before {
	content: "\f08e";
}
.flaticon-signin:before {
	content: "\f090";
}
.flaticon-trophy:before {
	content: "\f091";
}
.flaticon-github_sign:before {
	content: "\f092";
}
.flaticon-upload_alt:before {
	content: "\f093";
}
.flaticon-lemon:before {
	content: "\f094";
}
.flaticon-phone:before {
	content: "\f095";
}
.flaticon-check_empty:before {
	content: "\f096";
}
.flaticon-bookmark_empty:before {
	content: "\f097";
}
.flaticon-phone_sign:before {
	content: "\f098";
}
.flaticon-twitter:before {
	content: "\f099";
}
.flaticon-facebook:before {
	content: "\f09a";
}
.flaticon-github:before {
	content: "\f09b";
}
.flaticon-unlock:before {
	content: "\f09c";
}
.flaticon-credit_card:before {
	content: "\f09d";
}
.flaticon-rss:before {
	content: "\f09e";
}
.flaticon-hdd:before {
	content: "\f0a0";
}
.flaticon-bullhorn:before {
	content: "\f0a1";
}
.flaticon-bell:before {
	content: "\f0a2";
}
.flaticon-certificate:before {
	content: "\f0a3";
}
.flaticon-hand_right:before {
	content: "\f0a4";
}
.flaticon-hand_left:before {
	content: "\f0a5";
}
.flaticon-hand_up:before {
	content: "\f0a6";
}
.flaticon-hand_down:before {
	content: "\f0a7";
}
.flaticon-circle_arrow_left:before {
	content: "\f0a8";
}
.flaticon-circle_arrow_right:before {
	content: "\f0a9";
}
.flaticon-circle_arrow_up:before {
	content: "\f0aa";
}
.flaticon-circle_arrow_down:before {
	content: "\f0ab";
}
.flaticon-globe:before {
	content: "\f0ac";
}
.flaticon-wrench:before {
	content: "\f0ad";
}
.flaticon-tasks:before {
	content: "\f0ae";
}
.flaticon-filter:before {
	content: "\f0b0";
}
.flaticon-briefcase:before {
	content: "\f0b1";
}
.flaticon-fullscreen:before {
	content: "\f0b2";
}
.flaticon-group:before {
	content: "\f0c0";
}
.flaticon-link:before {
	content: "\f0c1";
}
.flaticon-cloud:before {
	content: "\f0c2";
}
.flaticon-beaker:before {
	content: "\f0c3";
}
.flaticon-cut:before {
	content: "\f0c4";
}
.flaticon-copy:before {
	content: "\f0c5";
}
.flaticon-paper_clip:before {
	content: "\f0c6";
}
.flaticon-save:before {
	content: "\f0c7";
}
.flaticon-sign_blank:before {
	content: "\f0c8";
}
.flaticon-reorder:before {
	content: "\f0c9";
}
.flaticon-ul:before {
	content: "\f0ca";
}
.flaticon-ol:before {
	content: "\f0cb";
}
.flaticon-strikethrough:before {
	content: "\f0cc";
}
.flaticon-underline:before {
	content: "\f0cd";
}
.flaticon-table:before {
	content: "\f0ce";
}
.flaticon-magic:before {
	content: "\f0d0";
}
.flaticon-truck:before {
	content: "\f0d1";
}
.flaticon-pinterest:before {
	content: "\f0d2";
}
.flaticon-pinterest_sign:before {
	content: "\f0d3";
}
.flaticon-google_plus_sign:before {
	content: "\f0d4";
}
.flaticon-google_plus:before {
	content: "\f0d5";
}
.flaticon-money:before {
	content: "\f0d6";
}
.flaticon-caret_down:before {
	content: "\f0d7";
}
.flaticon-caret_up:before {
	content: "\f0d8";
}
.flaticon-caret_left:before {
	content: "\f0d9";
}
.flaticon-caret_right:before {
	content: "\f0da";
}
.flaticon-columns:before {
	content: "\f0db";
}
.flaticon-sort:before {
	content: "\f0dc";
}
.flaticon-sort_down:before {
	content: "\f0dd";
}
.flaticon-sort_up:before {
	content: "\f0de";
}
.flaticon-envelope_alt:before {
	content: "\f0e0";
}
.flaticon-linkedin:before {
	content: "\f0e1";
}
.flaticon-undo:before {
	content: "\f0e2";
}
.flaticon-legal:before {
	content: "\f0e3";
}
.flaticon-dashboard:before {
	content: "\f0e4";
}
.flaticon-comment_alt:before {
	content: "\f0e5";
}
.flaticon-comments_alt:before {
	content: "\f0e6";
}
.flaticon-bolt:before {
	content: "\f0e7";
}
.flaticon-sitemap:before {
	content: "\f0e8";
}
.flaticon-umbrella:before {
	content: "\f0e9";
}
.flaticon-paste:before {
	content: "\f0ea";
}
.flaticon-light_bulb:before {
	content: "\f0eb";
}
.flaticon-exchange:before {
	content: "\f0ec";
}
.flaticon-cloud_download:before {
	content: "\f0ed";
}
.flaticon-cloud_upload:before {
	content: "\f0ee";
}
.flaticon-user_md:before {
	content: "\f0f0";
}
.flaticon-stethoscope:before {
	content: "\f0f1";
}
.flaticon-suitcase:before {
	content: "\f0f2";
}
.flaticon-bell_alt:before {
	content: "\f0f3";
}
.flaticon-coffee:before {
	content: "\f0f4";
}
.flaticon-food:before {
	content: "\f0f5";
}
.flaticon-file_text_alt:before {
	content: "\f0f6";
}
.flaticon-building:before {
	content: "\f0f7";
}
.flaticon-hospital:before {
	content: "\f0f8";
}
.flaticon-ambulance:before {
	content: "\f0f9";
}
.flaticon-medkit:before {
	content: "\f0fa";
}
.flaticon-fighter_jet:before {
	content: "\f0fb";
}
.flaticon-beer:before {
	content: "\f0fc";
}
.flaticon-h_sign:before {
	content: "\f0fd";
}
.flaticon-f0fe:before {
	content: "\f0fe";
}
.flaticon-double_angle_left:before {
	content: "\f100";
}
.flaticon-double_angle_right:before {
	content: "\f101";
}
.flaticon-double_angle_up:before {
	content: "\f102";
}
.flaticon-double_angle_down:before {
	content: "\f103";
}
.flaticon-angle_left:before {
	content: "\f104";
}
.flaticon-angle_right:before {
	content: "\f105";
}
.flaticon-angle_up:before {
	content: "\f106";
}
.flaticon-angle_down:before {
	content: "\f107";
}
.flaticon-desktop:before {
	content: "\f108";
}
.flaticon-laptop:before {
	content: "\f109";
}
.flaticon-tablet:before {
	content: "\f10a";
}
.flaticon-mobile_phone:before {
	content: "\f10b";
}
.flaticon-circle_blank:before {
	content: "\f10c";
}
.flaticon-quote_left:before {
	content: "\f10d";
}
.flaticon-quote_right:before {
	content: "\f10e";
}
.flaticon-spinner:before {
	content: "\f110";
}
.flaticon-circle:before {
	content: "\f111";
}
.flaticon-reply:before {
	content: "\f112";
}
.flaticon-github_alt:before {
	content: "\f113";
}
.flaticon-folder_close_alt:before {
	content: "\f114";
}
.flaticon-folder_open_alt:before {
	content: "\f115";
}
.flaticon-smile:before {
	content: "\f118";
}
.flaticon-frown:before {
	content: "\f119";
}
.flaticon-meh:before {
	content: "\f11a";
}
.flaticon-gamepad:before {
	content: "\f11b";
}
.flaticon-keyboard:before {
	content: "\f11c";
}
.flaticon-flag_alt:before {
	content: "\f11d";
}
.flaticon-flag_checkered:before {
	content: "\f11e";
}
.flaticon-terminal:before {
	content: "\f120";
}
.flaticon-code:before {
	content: "\f121";
}
.flaticon-reply_all:before {
	content: "\f122";
}
.flaticon-star_half_empty:before {
	content: "\f123";
}
.flaticon-location_arrow:before {
	content: "\f124";
}
.flaticon-crop:before {
	content: "\f125";
}
.flaticon-code_fork:before {
	content: "\f126";
}
.flaticon-unlink:before {
	content: "\f127";
}
.flaticon-question:before {
	content: "\f128";
}
.flaticon-_279:before {
	content: "\f129";
}
.flaticon-exclamation:before {
	content: "\f12a";
}
.flaticon-superscript:before {
	content: "\f12b";
}
.flaticon-subscript:before {
	content: "\f12c";
}
.flaticon-_283:before {
	content: "\f12d";
}
.flaticon-puzzle_piece:before {
	content: "\f12e";
}
.flaticon-microphone:before {
	content: "\f130";
}
.flaticon-microphone_off:before {
	content: "\f131";
}
.flaticon-shield:before {
	content: "\f132";
}
.flaticon-calendar_empty:before {
	content: "\f133";
}
.flaticon-fire_extinguisher:before {
	content: "\f134";
}
.flaticon-rocket:before {
	content: "\f135";
}
.flaticon-maxcdn:before {
	content: "\f136";
}
.flaticon-chevron_sign_left:before {
	content: "\f137";
}
.flaticon-chevron_sign_right:before {
	content: "\f138";
}
.flaticon-chevron_sign_up:before {
	content: "\f139";
}
.flaticon-chevron_sign_down:before {
	content: "\f13a";
}
.flaticon-html5:before {
	content: "\f13b";
}
.flaticon-css3:before {
	content: "\f13c";
}
.flaticon-anchor:before {
	content: "\f13d";
}
.flaticon-unlock_alt:before {
	content: "\f13e";
}
.flaticon-bullseye:before {
	content: "\f140";
}
.flaticon-ellipsis_horizontal:before {
	content: "\f141";
}
.flaticon-ellipsis_vertical:before {
	content: "\f142";
}
.flaticon-_303:before {
	content: "\f143";
}
.flaticon-play_sign:before {
	content: "\f144";
}
.flaticon-ticket:before {
	content: "\f145";
}
.flaticon-minus_sign_alt:before {
	content: "\f146";
}
.flaticon-check_minus:before {
	content: "\f147";
}
.flaticon-level_up:before {
	content: "\f148";
}
.flaticon-level_down:before {
	content: "\f149";
}
.flaticon-check_sign:before {
	content: "\f14a";
}
.flaticon-edit_sign:before {
	content: "\f14b";
}
.flaticon-_312:before {
	content: "\f14c";
}
.flaticon-share_sign:before {
	content: "\f14d";
}
.flaticon-compass:before {
	content: "\f14e";
}
.flaticon-collapse:before {
	content: "\f150";
}
.flaticon-collapse_top:before {
	content: "\f151";
}
.flaticon-_317:before {
	content: "\f152";
}
.flaticon-eur:before {
	content: "\f153";
}
.flaticon-gbp:before {
	content: "\f154";
}
.flaticon-usd:before {
	content: "\f155";
}
.flaticon-inr:before {
	content: "\f156";
}
.flaticon-jpy:before {
	content: "\f157";
}
.flaticon-rub:before {
	content: "\f158";
}
.flaticon-krw:before {
	content: "\f159";
}
.flaticon-btc:before {
	content: "\f15a";
}
.flaticon-file:before {
	content: "\f15b";
}
.flaticon-file_text:before {
	content: "\f15c";
}
.flaticon-sort_by_alphabet:before {
	content: "\f15d";
}
.flaticon-_329:before {
	content: "\f15e";
}
.flaticon-sort_by_attributes:before {
	content: "\f160";
}
.flaticon-sort_by_attributes_alt:before {
	content: "\f161";
}
.flaticon-sort_by_order:before {
	content: "\f162";
}
.flaticon-sort_by_order_alt:before {
	content: "\f163";
}
.flaticon-_334:before {
	content: "\f164";
}
.flaticon-_335:before {
	content: "\f165";
}
.flaticon-youtube_sign:before {
	content: "\f166";
}
.flaticon-youtube:before {
	content: "\f167";
}
.flaticon-xing:before {
	content: "\f168";
}
.flaticon-xing_sign:before {
	content: "\f169";
}
.flaticon-youtube_play:before {
	content: "\f16a";
}
.flaticon-dropbox:before {
	content: "\f16b";
}
.flaticon-stackexchange:before {
	content: "\f16c";
}
.flaticon-instagram:before {
	content: "\f16d";
}
.flaticon-flickr:before {
	content: "\f16e";
}
.flaticon-adn:before {
	content: "\f170";
}
.flaticon-f171:before {
	content: "\f171";
}
.flaticon-bitbucket_sign:before {
	content: "\f172";
}
.flaticon-tumblr:before {
	content: "\f173";
}
.flaticon-tumblr_sign:before {
	content: "\f174";
}
.flaticon-long_arrow_down:before {
	content: "\f175";
}
.flaticon-long_arrow_up:before {
	content: "\f176";
}
.flaticon-long_arrow_left:before {
	content: "\f177";
}
.flaticon-long_arrow_right:before {
	content: "\f178";
}
.flaticon-apple:before {
	content: "\f179";
}
.flaticon-windows:before {
	content: "\f17a";
}
.flaticon-android:before {
	content: "\f17b";
}
.flaticon-linux:before {
	content: "\f17c";
}
.flaticon-dribble:before {
	content: "\f17d";
}
.flaticon-skype:before {
	content: "\f17e";
}
.flaticon-foursquare:before {
	content: "\f180";
}
.flaticon-trello:before {
	content: "\f181";
}
.flaticon-female:before {
	content: "\f182";
}
.flaticon-male:before {
	content: "\f183";
}
.flaticon-gittip:before {
	content: "\f184";
}
.flaticon-sun:before {
	content: "\f185";
}
.flaticon-_366:before {
	content: "\f186";
}
.flaticon-archive:before {
	content: "\f187";
}
.flaticon-bug:before {
	content: "\f188";
}
.flaticon-vk:before {
	content: "\f189";
}
.flaticon-weibo:before {
	content: "\f18a";
}
.flaticon-renren:before {
	content: "\f18b";
}
.flaticon-_372:before {
	content: "\f18c";
}
.flaticon-stack_exchange:before {
	content: "\f18d";
}
.flaticon-_374:before {
	content: "\f18e";
}
.flaticon-arrow_circle_alt_left:before {
	content: "\f190";
}
.flaticon-_376:before {
	content: "\f191";
}
.flaticon-dot_circle_alt:before {
	content: "\f192";
}
.flaticon-_378:before {
	content: "\f193";
}
.flaticon-vimeo_square:before {
	content: "\f194";
}
.flaticon-_380:before {
	content: "\f195";
}
.flaticon-plus_square_o:before {
	content: "\f196";
}
.flaticon-_382:before {
	content: "\f197";
}
.flaticon-_383:before {
	content: "\f198";
}
.flaticon-_384:before {
	content: "\f199";
}
.flaticon-_385:before {
	content: "\f19a";
}
.flaticon-_386:before {
	content: "\f19b";
}
.flaticon-_387:before {
	content: "\f19c";
}
.flaticon-_388:before {
	content: "\f19d";
}
.flaticon-_389:before {
	content: "\f19e";
}
.flaticon-uniF1A0:before {
	content: "\f1a0";
}
.flaticon-f1a1:before {
	content: "\f1a1";
}
.flaticon-_392:before {
	content: "\f1a2";
}
.flaticon-_393:before {
	content: "\f1a3";
}
.flaticon-f1a4:before {
	content: "\f1a4";
}
.flaticon-_395:before {
	content: "\f1a5";
}
.flaticon-_396:before {
	content: "\f1a6";
}
.flaticon-_397:before {
	content: "\f1a7";
}
.flaticon-_398:before {
	content: "\f1a8";
}
.flaticon-_399:before {
	content: "\f1a9";
}
.flaticon-_400:before {
	content: "\f1aa";
}
.flaticon-f1ab:before {
	content: "\f1ab";
}
.flaticon-_402:before {
	content: "\f1ac";
}
.flaticon-_403:before {
	content: "\f1ad";
}
.flaticon-_404:before {
	content: "\f1ae";
}
.flaticon-uniF1B1:before {
	content: "\f1b0";
}
.flaticon-_406:before {
	content: "\f1b1";
}
.flaticon-_407:before {
	content: "\f1b2";
}
.flaticon-_408:before {
	content: "\f1b3";
}
.flaticon-_409:before {
	content: "\f1b4";
}
.flaticon-_410:before {
	content: "\f1b5";
}
.flaticon-_411:before {
	content: "\f1b6";
}
.flaticon-_412:before {
	content: "\f1b7";
}
.flaticon-_413:before {
	content: "\f1b8";
}
.flaticon-_414:before {
	content: "\f1b9";
}
.flaticon-_415:before {
	content: "\f1ba";
}
.flaticon-_416:before {
	content: "\f1bb";
}
.flaticon-_417:before {
	content: "\f1bc";
}
.flaticon-_418:before {
	content: "\f1bd";
}
.flaticon-_419:before {
	content: "\f1be";
}
.flaticon-uniF1C0:before {
	content: "\f1c0";
}
.flaticon-uniF1C1:before {
	content: "\f1c1";
}
.flaticon-_422:before {
	content: "\f1c2";
}
.flaticon-_423:before {
	content: "\f1c3";
}
.flaticon-_424:before {
	content: "\f1c4";
}
.flaticon-_425:before {
	content: "\f1c5";
}
.flaticon-_426:before {
	content: "\f1c6";
}
.flaticon-_427:before {
	content: "\f1c7";
}
.flaticon-_428:before {
	content: "\f1c8";
}
.flaticon-_429:before {
	content: "\f1c9";
}
.flaticon-_430:before {
	content: "\f1ca";
}
.flaticon-_431:before {
	content: "\f1cb";
}
.flaticon-_432:before {
	content: "\f1cc";
}
.flaticon-_433:before {
	content: "\f1cd";
}
.flaticon-_434:before {
	content: "\f1ce";
}
.flaticon-uniF1D0:before {
	content: "\f1d0";
}
.flaticon-uniF1D1:before {
	content: "\f1d1";
}
.flaticon-uniF1D2:before {
	content: "\f1d2";
}
.flaticon-_438:before {
	content: "\f1d3";
}
.flaticon-_439:before {
	content: "\f1d4";
}
.flaticon-uniF1D5:before {
	content: "\f1d5";
}
.flaticon-uniF1D6:before {
	content: "\f1d6";
}
.flaticon-uniF1D7:before {
	content: "\f1d7";
}
.flaticon-_443:before {
	content: "\f1d8";
}
.flaticon-_444:before {
	content: "\f1d9";
}
.flaticon-_445:before {
	content: "\f1da";
}
.flaticon-_446:before {
	content: "\f1db";
}
.flaticon-_447:before {
	content: "\f1dc";
}
.flaticon-_448:before {
	content: "\f1dd";
}
.flaticon-_449:before {
	content: "\f1de";
}
.flaticon-uniF1E0:before {
	content: "\f1e0";
}
.flaticon-_451:before {
	content: "\f1e1";
}
.flaticon-_452:before {
	content: "\f1e2";
}
.flaticon-_453:before {
	content: "\f1e3";
}
.flaticon-_454:before {
	content: "\f1e4";
}
.flaticon-_455:before {
	content: "\f1e5";
}
.flaticon-_456:before {
	content: "\f1e6";
}
.flaticon-_457:before {
	content: "\f1e7";
}
.flaticon-_458:before {
	content: "\f1e8";
}
.flaticon-_459:before {
	content: "\f1e9";
}
.flaticon-_460:before {
	content: "\f1ea";
}
.flaticon-_461:before {
	content: "\f1eb";
}
.flaticon-_462:before {
	content: "\f1ec";
}
.flaticon-_463:before {
	content: "\f1ed";
}
.flaticon-_464:before {
	content: "\f1ee";
}
.flaticon-uniF1F0:before {
	content: "\f1f0";
}
.flaticon-_466:before {
	content: "\f1f1";
}
.flaticon-_467:before {
	content: "\f1f2";
}
.flaticon-f1f3:before {
	content: "\f1f3";
}
.flaticon-_469:before {
	content: "\f1f4";
}
.flaticon-_470:before {
	content: "\f1f5";
}
.flaticon-_471:before {
	content: "\f1f6";
}
.flaticon-_472:before {
	content: "\f1f7";
}
.flaticon-_473:before {
	content: "\f1f8";
}
.flaticon-_474:before {
	content: "\f1f9";
}
.flaticon-_475:before {
	content: "\f1fa";
}
.flaticon-_476:before {
	content: "\f1fb";
}
.flaticon-f1fc:before {
	content: "\f1fc";
}
.flaticon-_478:before {
	content: "\f1fd";
}
.flaticon-_479:before {
	content: "\f1fe";
}
.flaticon-_480:before {
	content: "\f200";
}
.flaticon-_481:before {
	content: "\f201";
}
.flaticon-_482:before {
	content: "\f202";
}
.flaticon-_483:before {
	content: "\f203";
}
.flaticon-_484:before {
	content: "\f204";
}
.flaticon-_485:before {
	content: "\f205";
}
.flaticon-_486:before {
	content: "\f206";
}
.flaticon-_487:before {
	content: "\f207";
}
.flaticon-_488:before {
	content: "\f208";
}
.flaticon-_489:before {
	content: "\f209";
}
.flaticon-_490:before {
	content: "\f20a";
}
.flaticon-_491:before {
	content: "\f20b";
}
.flaticon-_492:before {
	content: "\f20c";
}
.flaticon-_493:before {
	content: "\f20d";
}
.flaticon-_494:before {
	content: "\f20e";
}
.flaticon-f210:before {
	content: "\f210";
}
.flaticon-_496:before {
	content: "\f211";
}
.flaticon-f212:before {
	content: "\f212";
}
.flaticon-_498:before {
	content: "\f213";
}
.flaticon-_499:before {
	content: "\f214";
}
.flaticon-_500:before {
	content: "\f215";
}
.flaticon-_501:before {
	content: "\f216";
}
.flaticon-_502:before {
	content: "\f217";
}
.flaticon-_503:before {
	content: "\f218";
}
.flaticon-_504:before {
	content: "\f219";
}
.flaticon-_505:before {
	content: "\f21a";
}
.flaticon-_506:before {
	content: "\f21b";
}
.flaticon-_507:before {
	content: "\f21c";
}
.flaticon-_508:before {
	content: "\f21d";
}
.flaticon-_509:before {
	content: "\f21e";
}
.flaticon-venus:before {
	content: "\f221";
}
.flaticon-_511:before {
	content: "\f222";
}
.flaticon-_512:before {
	content: "\f223";
}
.flaticon-_513:before {
	content: "\f224";
}
.flaticon-_514:before {
	content: "\f225";
}
.flaticon-_515:before {
	content: "\f226";
}
.flaticon-_516:before {
	content: "\f227";
}
.flaticon-_517:before {
	content: "\f228";
}
.flaticon-_518:before {
	content: "\f229";
}
.flaticon-_519:before {
	content: "\f22a";
}
.flaticon-_520:before {
	content: "\f22b";
}
.flaticon-_521:before {
	content: "\f22c";
}
.flaticon-_522:before {
	content: "\f22d";
}
.flaticon-_525:before {
	content: "\f230";
}
.flaticon-_526:before {
	content: "\f231";
}
.flaticon-_527:before {
	content: "\f232";
}
.flaticon-_528:before {
	content: "\f233";
}
.flaticon-_529:before {
	content: "\f234";
}
.flaticon-_530:before {
	content: "\f235";
}
.flaticon-_531:before {
	content: "\f236";
}
.flaticon-_532:before {
	content: "\f237";
}
.flaticon-_533:before {
	content: "\f238";
}
.flaticon-_534:before {
	content: "\f239";
}
.flaticon-_535:before {
	content: "\f23a";
}
.flaticon-_536:before {
	content: "\f23b";
}
.flaticon-_537:before {
	content: "\f23c";
}
.flaticon-_538:before {
	content: "\f23d";
}
.flaticon-_539:before {
	content: "\f23e";
}
.flaticon-_540:before {
	content: "\f240";
}
.flaticon-_541:before {
	content: "\f241";
}
.flaticon-_542:before {
	content: "\f242";
}
.flaticon-_543:before {
	content: "\f243";
}
.flaticon-_544:before {
	content: "\f244";
}
.flaticon-_545:before {
	content: "\f245";
}
.flaticon-_546:before {
	content: "\f246";
}
.flaticon-_547:before {
	content: "\f247";
}
.flaticon-_548:before {
	content: "\f248";
}
.flaticon-_549:before {
	content: "\f249";
}
.flaticon-_550:before {
	content: "\f24a";
}
.flaticon-_551:before {
	content: "\f24b";
}
.flaticon-_552:before {
	content: "\f24c";
}
.flaticon-_553:before {
	content: "\f24d";
}
.flaticon-_554:before {
	content: "\f24e";
}
.flaticon-_555:before {
	content: "\f250";
}
.flaticon-_556:before {
	content: "\f251";
}
.flaticon-_557:before {
	content: "\f252";
}
.flaticon-_558:before {
	content: "\f253";
}
.flaticon-_559:before {
	content: "\f254";
}
.flaticon-_560:before {
	content: "\f255";
}
.flaticon-_561:before {
	content: "\f256";
}
.flaticon-_562:before {
	content: "\f257";
}
.flaticon-_563:before {
	content: "\f258";
}
.flaticon-_564:before {
	content: "\f259";
}
.flaticon-_565:before {
	content: "\f25a";
}
.flaticon-_566:before {
	content: "\f25b";
}
.flaticon-_567:before {
	content: "\f25c";
}
.flaticon-_568:before {
	content: "\f25d";
}
.flaticon-_569:before {
	content: "\f25e";
}
.flaticon-f260:before {
	content: "\f260";
}
.flaticon-f261:before {
	content: "\f261";
}
.flaticon-_572:before {
	content: "\f262";
}
.flaticon-f263:before {
	content: "\f263";
}
.flaticon-_574:before {
	content: "\f264";
}
.flaticon-_575:before {
	content: "\f265";
}
.flaticon-_576:before {
	content: "\f266";
}
.flaticon-_577:before {
	content: "\f267";
}
.flaticon-_578:before {
	content: "\f268";
}
.flaticon-_579:before {
	content: "\f269";
}
.flaticon-_580:before {
	content: "\f26a";
}
.flaticon-_581:before {
	content: "\f26b";
}
.flaticon-_582:before {
	content: "\f26c";
}
.flaticon-_583:before {
	content: "\f26d";
}
.flaticon-_584:before {
	content: "\f26e";
}
.flaticon-_585:before {
	content: "\f270";
}
.flaticon-_586:before {
	content: "\f271";
}
.flaticon-_587:before {
	content: "\f272";
}
.flaticon-_588:before {
	content: "\f273";
}
.flaticon-_589:before {
	content: "\f274";
}
.flaticon-_590:before {
	content: "\f275";
}
.flaticon-_591:before {
	content: "\f276";
}
.flaticon-_592:before {
	content: "\f277";
}
.flaticon-_593:before {
	content: "\f278";
}
.flaticon-_594:before {
	content: "\f279";
}
.flaticon-_595:before {
	content: "\f27a";
}
.flaticon-_596:before {
	content: "\f27b";
}
.flaticon-_597:before {
	content: "\f27c";
}
.flaticon-_598:before {
	content: "\f27d";
}
.flaticon-f27e:before {
	content: "\f27e";
}
.flaticon-uniF280:before {
	content: "\f280";
}
.flaticon-uniF281:before {
	content: "\f281";
}
.flaticon-_602:before {
	content: "\f282";
}
.flaticon-_603:before {
	content: "\f283";
}
.flaticon-_604:before {
	content: "\f284";
}
.flaticon-uniF285:before {
	content: "\f285";
}
.flaticon-uniF286:before {
	content: "\f286";
}
.flaticon-_607:before {
	content: "\f287";
}
.flaticon-_608:before {
	content: "\f288";
}
.flaticon-_609:before {
	content: "\f289";
}
.flaticon-_610:before {
	content: "\f28a";
}
.flaticon-_611:before {
	content: "\f28b";
}
.flaticon-_612:before {
	content: "\f28c";
}
.flaticon-_613:before {
	content: "\f28d";
}
.flaticon-_614:before {
	content: "\f28e";
}
.flaticon-_615:before {
	content: "\f290";
}
.flaticon-_616:before {
	content: "\f291";
}
.flaticon-_617:before {
	content: "\f292";
}
.flaticon-_618:before {
	content: "\f293";
}
.flaticon-_619:before {
	content: "\f294";
}
.flaticon-_620:before {
	content: "\f295";
}
.flaticon-_621:before {
	content: "\f296";
}
.flaticon-_622:before {
	content: "\f297";
}
.flaticon-_623:before {
	content: "\f298";
}
.flaticon-_624:before {
	content: "\f299";
}
.flaticon-_625:before {
	content: "\f29a";
}
.flaticon-_626:before {
	content: "\f29b";
}
.flaticon-_627:before {
	content: "\f29c";
}
.flaticon-_628:before {
	content: "\f29d";
}
.flaticon-_629:before {
	content: "\f29e";
}
.flaticon-uniF2A0:before {
	content: "\f2a0";
}
.flaticon-uniF2A1:before {
	content: "\f2a1";
}
.flaticon-uniF2A2:before {
	content: "\f2a2";
}
.flaticon-uniF2A3:before {
	content: "\f2a3";
}
.flaticon-uniF2A4:before {
	content: "\f2a4";
}
.flaticon-uniF2A5:before {
	content: "\f2a5";
}
.flaticon-uniF2A6:before {
	content: "\f2a6";
}
.flaticon-uniF2A7:before {
	content: "\f2a7";
}
.flaticon-uniF2A8:before {
	content: "\f2a8";
}
.flaticon-uniF2A9:before {
	content: "\f2a9";
}
.flaticon-uniF2AA:before {
	content: "\f2aa";
}
.flaticon-uniF2AB:before {
	content: "\f2ab";
}
.flaticon-uniF2AC:before {
	content: "\f2ac";
}
.flaticon-uniF2AD:before {
	content: "\f2ad";
}
.flaticon-uniF2AE:before {
	content: "\f2ae";
}
.flaticon-uniF2B0:before {
	content: "\f2b0";
}
.flaticon-uniF2B1:before {
	content: "\f2b1";
}
.flaticon-uniF2B2:before {
	content: "\f2b2";
}
.flaticon-uniF2B3:before {
	content: "\f2b3";
}
.flaticon-uniF2B4:before {
	content: "\f2b4";
}
.flaticon-uniF2B5:before {
	content: "\f2b5";
}
.flaticon-uniF2B6:before {
	content: "\f2b6";
}
.flaticon-uniF2B7:before {
	content: "\f2b7";
}
.flaticon-uniF2B8:before {
	content: "\f2b8";
}
.flaticon-uniF2B9:before {
	content: "\f2b9";
}
.flaticon-uniF2BA:before {
	content: "\f2ba";
}
.flaticon-uniF2BB:before {
	content: "\f2bb";
}
.flaticon-uniF2BC:before {
	content: "\f2bc";
}
.flaticon-uniF2BD:before {
	content: "\f2bd";
}
.flaticon-uniF2BE:before {
	content: "\f2be";
}
.flaticon-uniF2C0:before {
	content: "\f2c0";
}
.flaticon-uniF2C1:before {
	content: "\f2c1";
}
.flaticon-uniF2C2:before {
	content: "\f2c2";
}
.flaticon-uniF2C3:before {
	content: "\f2c3";
}
.flaticon-uniF2C4:before {
	content: "\f2c4";
}
.flaticon-uniF2C5:before {
	content: "\f2c5";
}
.flaticon-uniF2C6:before {
	content: "\f2c6";
}
.flaticon-uniF2C7:before {
	content: "\f2c7";
}
.flaticon-uniF2C8:before {
	content: "\f2c8";
}
.flaticon-uniF2C9:before {
	content: "\f2c9";
}
.flaticon-uniF2CA:before {
	content: "\f2ca";
}
.flaticon-uniF2CB:before {
	content: "\f2cb";
}
.flaticon-uniF2CC:before {
	content: "\f2cc";
}
.flaticon-uniF2CD:before {
	content: "\f2cd";
}
.flaticon-uniF2CE:before {
	content: "\f2ce";
}
.flaticon-uniF2D0:before {
	content: "\f2d0";
}
.flaticon-uniF2D1:before {
	content: "\f2d1";
}
.flaticon-uniF2D2:before {
	content: "\f2d2";
}
.flaticon-uniF2D3:before {
	content: "\f2d3";
}
.flaticon-uniF2D4:before {
	content: "\f2d4";
}
.flaticon-uniF2D5:before {
	content: "\f2d5";
}
.flaticon-uniF2D6:before {
	content: "\f2d6";
}
.flaticon-uniF2D7:before {
	content: "\f2d7";
}
.flaticon-uniF2D8:before {
	content: "\f2d8";
}
.flaticon-uniF2D9:before {
	content: "\f2d9";
}
.flaticon-uniF2DA:before {
	content: "\f2da";
}
.flaticon-uniF2DB:before {
	content: "\f2db";
}
.flaticon-uniF2DC:before {
	content: "\f2dc";
}
.flaticon-uniF2DD:before {
	content: "\f2dd";
}
.flaticon-uniF2DE:before {
	content: "\f2de";
}
.flaticon-uniF2E0:before {
	content: "\f2e0";
}
.flaticon-ns1:before {
	content: "\f2e1";
}
.flaticon-ns2:before {
	content: "\f2e2";
}
.flaticon-ns3:before {
	content: "\f2e3";
}
.flaticon-ns4:before {
	content: "\f2e4";
}
.flaticon-ns5:before {
	content: "\f2e5";
}
.flaticon-ns6:before {
	content: "\f2e6";
}
.flaticon-ns7:before {
	content: "\f2e7";
}
.flaticon-ns8:before {
	content: "\f2e8";
}
.flaticon-uniF2E9:before {
	content: "\f2e9";
}
.flaticon-uniF2EC:before {
	content: "\f2ec";
}
.flaticon-uniF2ED:before {
	content: "\f2ed";
}
.flaticon-uniF2EE:before {
	content: "\f2ee";
}
.flaticon-uniF2EE.010:before {
	content: "\f311";
}
.flaticon-uniF2EE.011:before {
	content: "\f312";
}
.flaticon-uniF2EE.012:before {
	content: "\f313";
}
.flaticon-uniF2EE.013:before {
	content: "\f314";
}
.flaticon-uniF2EE.014:before {
	content: "\f315";
}
.flaticon-uniF2EE.015:before {
	content: "\f316";
}
.flaticon-uniF2EE.016:before {
	content: "\f317";
}
.flaticon-uniF2EE.017:before {
	content: "\f318";
}
.flaticon-uniF2EE.018:before {
	content: "\f319";
}
.flaticon-uniF2EE.019:before {
	content: "\f31a";
}
.flaticon-uniF2EE.020:before {
	content: "\f31b";
}
.flaticon-uniF2EE.021:before {
	content: "\f31c";
}
.flaticon-uniF2EE.022:before {
	content: "\f31d";
}
.flaticon-uniF2EE.023:before {
	content: "\f31e";
}
.flaticon-uniF2EE.024:before {
	content: "\f31f";
}
.flaticon-uniF2EE.025:before {
	content: "\f321";
}
.flaticon-uniF2EE.026:before {
	content: "\f322";
}
.flaticon-uniF2EE.027:before {
	content: "\f323";
}
.flaticon-uniF2EE.028:before {
	content: "\f324";
}
.flaticon-uniF2EE.029:before {
	content: "\f325";
}
.flaticon-uniF2EE.030:before {
	content: "\f326";
}
.flaticon-uniF2EE.031:before {
	content: "\f327";
}
.flaticon-uniF2EE.032:before {
	content: "\f328";
}
.flaticon-uniF2EE.033:before {
	content: "\f329";
}
.flaticon-uniF2EE.034:before {
	content: "\f32a";
}
.flaticon-uniF2EE.035:before {
	content: "\f32b";
}
.flaticon-uniF2EE.036:before {
	content: "\f32c";
}
.flaticon-uniF2EE.037:before {
	content: "\f32d";
}
.flaticon-uniF2EE.038:before {
	content: "\f32e";
}
.flaticon-uniF2EE.039:before {
	content: "\f32f";
}
.flaticon-uniF2EE.040:before {
	content: "\f331";
}
.flaticon-uniF2EE.041:before {
	content: "\f332";
}
.flaticon-uniF2EE.042:before {
	content: "\f333";
}
.flaticon-uniF2EE.043:before {
	content: "\f334";
}
.flaticon-uniF2EE.044:before {
	content: "\f335";
}
.flaticon-uniF2EE.045:before {
	content: "\f336";
}
.flaticon-uniF2EE.046:before {
	content: "\f337";
}
.flaticon-uniF2EE.047:before {
	content: "\f338";
}
.flaticon-uniF2EE.048:before {
	content: "\f339";
}
.flaticon-uniF2EE.049:before {
	content: "\f33a";
}
.flaticon-uniF2EE.050:before {
	content: "\f33b";
}
.flaticon-uniF2EE.051:before {
	content: "\f33c";
}
.flaticon-uniF2EE.052:before {
	content: "\f33d";
}
.flaticon-uniF2EE.053:before {
	content: "\f33e";
}
.flaticon-uniF2EE.054:before {
	content: "\f33f";
}
.flaticon-uniF2EE.055:before {
	content: "\f341";
}
.flaticon-uniF2EE.056:before {
	content: "\f342";
}
.flaticon-uniF2EE.057:before {
	content: "\f343";
}
.flaticon-uniF2EE.058:before {
	content: "\f344";
}
.flaticon-uniF2EE.059:before {
	content: "\f345";
}
.flaticon-uniF2EE.060:before {
	content: "\f346";
}
.flaticon-uniF2EE.061:before {
	content: "\f347";
}
.flaticon-uniF2EE.062:before {
	content: "\f348";
}
.flaticon-uniF2EE.063:before {
	content: "\f349";
}
.flaticon-uniF2EE.064:before {
	content: "\f34a";
}
.flaticon-uniF2EE.065:before {
	content: "\f34b";
}
.flaticon-uniF2EE.066:before {
	content: "\f34c";
}
.flaticon-uniF2EE.067:before {
	content: "\f34d";
}
.flaticon-uniF2EE.068:before {
	content: "\f34e";
}
.flaticon-uniF2EE.069:before {
	content: "\f34f";
}
.flaticon-uniF2EE.070:before {
	content: "\f351";
}
.flaticon-uniF2EE.071:before {
	content: "\f352";
}
.flaticon-uniF2EE.072:before {
	content: "\f353";
}
.flaticon-uniF2EE.074:before {
	content: "\f354";
}
.flaticon-uniF2EE.075:before {
	content: "\f355";
}
.flaticon-uniF2EE.076:before {
	content: "\f356";
}
.flaticon-uniF2EE.077:before {
	content: "\f357";
}
.flaticon-uniF2EE.078:before {
	content: "\f358";
}
.flaticon-uniF2EE.079:before {
	content: "\f359";
}
.flaticon-uniF2EE.080:before {
	content: "\f35a";
}
.flaticon-uniF2EE.081:before {
	content: "\f35b";
}
.flaticon-uniF2EE.082:before {
	content: "\f35c";
}
.flaticon-uniF2EE.083:before {
	content: "\f35d";
}
.flaticon-uniF2EE.084:before {
	content: "\f35e";
}
.flaticon-uniF2EE.085:before {
	content: "\f35f";
}
.flaticon-uniF2EE.086:before {
	content: "\f361";
}
.flaticon-uniF2EE.087:before {
	content: "\f362";
}
.flaticon-uniF2EE.088:before {
	content: "\f363";
}
.flaticon-uniF2EE.089:before {
	content: "\f364";
}
.flaticon-uniF2EE.090:before {
	content: "\f365";
}
.flaticon-uniF2EE.091:before {
	content: "\f368";
}
.flaticon-uniF2EE.092:before {
	content: "\f369";
}
.flaticon-uniF2EE.093:before {
	content: "\f36a";
}
.flaticon-uniF2EE.094:before {
	content: "\f36b";
}
.flaticon-uniF2EE.095:before {
	content: "\f36c";
}
.flaticon-uniF2EE.096:before {
	content: "\f36d";
}
.flaticon-uniF2EE.097:before {
	content: "\f36e";
}
.flaticon-uniF2EE.098:before {
	content: "\f36f";
}
.flaticon-uniF2EE.099:before {
	content: "\f371";
}
.flaticon-uniF2EE.100:before {
	content: "\f372";
}
.flaticon-uniF2EE.101:before {
	content: "\f373";
}
.flaticon-uniF2EE.102:before {
	content: "\f374";
}
.flaticon-uniF2EE.103:before {
	content: "\f375";
}
.flaticon-uniF2EE.104:before {
	content: "\f376";
}
.flaticon-uniF2EE.105:before {
	content: "\f377";
}
.flaticon-uniF2EE.106:before {
	content: "\f378";
}
.flaticon-uniF2EE.107:before {
	content: "\f379";
}
.flaticon-uniF2EE.108:before {
	content: "\f37a";
}
.flaticon-uniF2EE.109:before {
	content: "\f37b";
}
.flaticon-uniF2EE.110:before {
	content: "\f37c";
}
.flaticon-uniF2EE.111:before {
	content: "\f37d";
}
.flaticon-uniF2EE.112:before {
	content: "\f37e";
}
.flaticon-uniF2EE.113:before {
	content: "\f37f";
}
.flaticon-uniF2EE.114:before {
	content: "\f381";
}
.flaticon-uniF2EE.115:before {
	content: "\f382";
}
.flaticon-uniF2EE.116:before {
	content: "\f383";
}
.flaticon-uniF2EE.117:before {
	content: "\f384";
}
.flaticon-uniF2EE.118:before {
	content: "\f385";
}
.flaticon-uniF2EE.119:before {
	content: "\f386";
}
.flaticon-uniF2EE.120:before {
	content: "\f387";
}
.flaticon-uniF2EE.121:before {
	content: "\f388";
}
.flaticon-uniF2EE.122:before {
	content: "\f389";
}
.flaticon-uniF2EE.123:before {
	content: "\f38a";
}
.flaticon-uniF2EE.124:before {
	content: "\f38b";
}
.flaticon-uniF2EE.125:before {
	content: "\f38c";
}
.flaticon-uniF2EE.126:before {
	content: "\f38d";
}
.flaticon-uniF2EE.127:before {
	content: "\f38e";
}
.flaticon-uniF2EE.128:before {
	content: "\f38f";
}
.flaticon-uniF2EE.129:before {
	content: "\f391";
}
.flaticon-uniF2EE.130:before {
	content: "\f392";
}
.flaticon-uniF2EE.131:before {
	content: "\f393";
}
.flaticon-uniF2EE.132:before {
	content: "\f394";
}
.flaticon-uniF2EE.133:before {
	content: "\f395";
}
.flaticon-uniF2EE.134:before {
	content: "\f396";
}
.flaticon-uniF2EE.135:before {
	content: "\f397";
}
.flaticon-uniF2EE.136:before {
	content: "\f398";
}
.flaticon-uniF2EE.137:before {
	content: "\f399";
}
.flaticon-uniF2EE.138:before {
	content: "\f39a";
}
.flaticon-uniF2EE.139:before {
	content: "\f39b";
}
.flaticon-uniF2EE.140:before {
	content: "\f39c";
}
.flaticon-uniF2EE.141:before {
	content: "\f39d";
}
.flaticon-uniF2EE.142:before {
	content: "\f39e";
}
.flaticon-uniF2EE.143:before {
	content: "\f39f";
}
.flaticon-uniF2EE.002:before {
	content: "\f3e1";
}
.flaticon-uniF2EE.003:before {
	content: "\f3e2";
}
.flaticon-uniF2EE.004:before {
	content: "\f3e4";
}
.flaticon-uniF2EE.005:before {
	content: "\f3e5";
}
.flaticon-uniF2EE.006:before {
	content: "\f3e6";
}
.flaticon-uniF2EE.007:before {
	content: "\f3e7";
}
.flaticon-uniF2EE.008:before {
	content: "\f3e8";
}
.flaticon-uniF2EE.009:before {
	content: "\f3e9";
}
.flaticon-uniF2EE.144:before {
	content: "\f400";
}
.flaticon-uniF2EE.145:before {
	content: "\f401";
}
.flaticon-uniF2EE.146:before {
	content: "\f402";
}
.flaticon-uniF2EE.147:before {
	content: "\f403";
}
.flaticon-uniF2EE.148:before {
	content: "\f405";
}
.flaticon-uniF2EE.149:before {
	content: "\f406";
}
.flaticon-uniF2EE.150:before {
	content: "\f407";
}
.flaticon-uniF2EE.151:before {
	content: "\f408";
}
.flaticon-uniF2EE.152:before {
	content: "\f409";
}
.flaticon-uniF2EE.153:before {
	content: "\f40a";
}
.flaticon-uniF2EE.154:before {
	content: "\f40b";
}
.flaticon-uniF2EE.155:before {
	content: "\f40c";
}
.flaticon-uniF2EE.156:before {
	content: "\f40d";
}
.flaticon-uniF2EE.157:before {
	content: "\f40e";
}
.flaticon-uniF2EE.158:before {
	content: "\f40f";
}
.flaticon-uniF2EE.159:before {
	content: "\f411";
}
.flaticon-uniF2EE.160:before {
	content: "\f412";
}
.flaticon-uniF2EE.161:before {
	content: "\f413";
}
.flaticon-uniF2EE.162:before {
	content: "\f414";
}
.flaticon-uniF2EE.163:before {
	content: "\f415";
}
.flaticon-uniF2EE.164:before {
	content: "\f416";
}
.flaticon-uniF2EE.165:before {
	content: "\f417";
}
.flaticon-uniF2EE.166:before {
	content: "\f418";
}
.flaticon-uniF2EE.167:before {
	content: "\f419";
}
.flaticon-uniF2EE.168:before {
	content: "\f41a";
}
.flaticon-uniF2EE.169:before {
	content: "\f41b";
}
.flaticon-uniF2EE.170:before {
	content: "\f41c";
}
.flaticon-uniF2EE.171:before {
	content: "\f41d";
}
.flaticon-uniF2EE.073:before {
	content: "\f454";
}
.flaticon-A:before {
	content: "\41";
}
.flaticon-B:before {
	content: "\42";
}
.flaticon-C:before {
	content: "\43";
}
.flaticon-D:before {
	content: "\44";
}
.flaticon-E:before {
	content: "\45";
}
.flaticon-F:before {
	content: "\46";
}
.flaticon-G:before {
	content: "\47";
}
.flaticon-H:before {
	content: "\48";
}
.flaticon-I:before {
	content: "\49";
}
.flaticon-J:before {
	content: "\4a";
}
.flaticon-K:before {
	content: "\4b";
}
.flaticon-L:before {
	content: "\4c";
}
.flaticon-M:before {
	content: "\4d";
}
.flaticon-N:before {
	content: "\4e";
}
.flaticon-O:before {
	content: "\4f";
}
.flaticon-P:before {
	content: "\50";
}
.flaticon-Q:before {
	content: "\51";
}
.flaticon-R:before {
	content: "\52";
}
.flaticon-S:before {
	content: "\53";
}
.flaticon-T:before {
	content: "\54";
}
.flaticon-U:before {
	content: "\55";
}
.flaticon-V:before {
	content: "\56";
}
.flaticon-W:before {
	content: "\57";
}
.flaticon-X:before {
	content: "\58";
}
.flaticon-Y:before {
	content: "\59";
}
.flaticon-Z:before {
	content: "\5a";
}
.flaticon-bracketleft:before {
	content: "\5b";
}
.flaticon-backslash:before {
	content: "\5c";
}
.flaticon-bracketright:before {
	content: "\5d";
}
.flaticon-asciicircum:before {
	content: "\5e";
}
.flaticon-grave:before {
	content: "\60";
}
.flaticon-comma:before {
	content: "\2c";
}
.flaticon-hyphen:before {
	content: "\2d";
}
.flaticon-period:before {
	content: "\2e";
}
.flaticon-slash:before {
	content: "\2f";
}
.flaticon-zero:before {
	content: "\30";
}
.flaticon-one:before {
	content: "\31";
}
.flaticon-two:before {
	content: "\32";
}
.flaticon-three:before {
	content: "\33";
}
.flaticon-four:before {
	content: "\34";
}
.flaticon-five:before {
	content: "\35";
}
.flaticon-six:before {
	content: "\36";
}
.flaticon-seven:before {
	content: "\37";
}
.flaticon-eight:before {
	content: "\38";
}
.flaticon-nine:before {
	content: "\39";
}
.flaticon-colon:before {
	content: "\3a";
}
.flaticon-semicolon:before {
	content: "\3b";
}
.flaticon-less:before {
	content: "\3c";
}
.flaticon-equal:before {
	content: "\3d";
}
.flaticon-greater:before {
	content: "\3e";
}
.flaticon-_63:before {
	content: "\3f";
}
.flaticon-braceleft:before {
	content: "\7b";
}
.flaticon-bar:before {
	content: "\7c";
}
.flaticon-braceright:before {
	content: "\7d";
}
.flaticon-asciitilde:before {
	content: "\7e";
}
.flaticon-trademark:before {
	content: "\2122";
}
.flaticon-scaron:before {
	content: "\161";
}
.flaticon-guilsinglright:before {
	content: "\203a";
}
.flaticon-sacute:before {
	content: "\15b";
}
.flaticon-tcaron:before {
	content: "\165";
}
.flaticon-zcaron:before {
	content: "\17e";
}
.flaticon-zacute:before {
	content: "\17a";
}
.flaticon-caron:before {
	content: "\2c7";
}
.flaticon-breve:before {
	content: "\2d8";
}
.flaticon-L_slash:before {
	content: "\141";
}
.flaticon-currency:before {
	content: "\a4";
}
.flaticon-Aogonek:before {
	content: "\104";
}
.flaticon-brokenbar:before {
	content: "\a6";
}
.flaticon-section:before {
	content: "\a7";
}
.flaticon-dieresis:before {
	content: "\a8";
}
.flaticon-copyright:before {
	content: "\a9";
}
.flaticon-Scedilla:before {
	content: "\15e";
}
.flaticon-guillemotleft:before {
	content: "\ab";
}
.flaticon-logicalnot:before {
	content: "\ac";
}
.flaticon-softhyphen:before {
	content: "\ad";
}
.flaticon-registered:before {
	content: "\ae";
}
.flaticon-Zdotaccent:before {
	content: "\17b";
}
.flaticon-degree:before {
	content: "\b0";
}
.flaticon-plusminus:before {
	content: "\b1";
}
.flaticon-ogonek:before {
	content: "\2db";
}
.flaticon-lslash:before {
	content: "\142";
}
.flaticon-acute:before {
	content: "\b4";
}
.flaticon-mu:before {
	content: "\b5";
}
.flaticon-paragraph:before {
	content: "\b6";
}
.flaticon-a:before {
	content: "\61";
}
.flaticon-b:before {
	content: "\62";
}
.flaticon-c:before {
	content: "\63";
}
.flaticon-d:before {
	content: "\64";
}
.flaticon-e:before {
	content: "\65";
}
.flaticon-f:before {
	content: "\66";
}
.flaticon-g:before {
	content: "\67";
}
.flaticon-h:before {
	content: "\68";
}
.flaticon-i:before {
	content: "\69";
}
.flaticon-j:before {
	content: "\6a";
}
.flaticon-k:before {
	content: "\6b";
}
.flaticon-l:before {
	content: "\6c";
}
.flaticon-m:before {
	content: "\6d";
}
.flaticon-n:before {
	content: "\6e";
}
.flaticon-o:before {
	content: "\6f";
}
.flaticon-p:before {
	content: "\70";
}
.flaticon-q:before {
	content: "\71";
}
.flaticon-r:before {
	content: "\72";
}
.flaticon-s:before {
	content: "\73";
}
.flaticon-t:before {
	content: "\74";
}
.flaticon-u:before {
	content: "\75";
}
.flaticon-v:before {
	content: "\76";
}
.flaticon-w:before {
	content: "\77";
}
.flaticon-x:before {
	content: "\78";
}
.flaticon-y:before {
	content: "\79";
}
.flaticon-z:before {
	content: "\7a";
}
.flaticon-underscore:before {
	content: "\5f";
}
.flaticon-no7:before {
	content: "\2a";
}
.flaticon-no6:before {
	content: "\29";
}
.flaticon-no5:before {
	content: "\28";
}
.flaticon-at:before {
	content: "\40";
}
.flaticon-no2:before {
	content: "\25";
}
.flaticon-numbersign:before {
	content: "\23";
}
.flaticon-no4:before {
	content: "\27";
}
